body {
  margin: 0;
  padding: 0;
}
#layout {
  display: grid;
  grid-template-columns: 12vw auto auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header"
    ". . . "
    ". . . "
    ". . . ";
}

header {
  grid-area: header;
  height: 100px;
  background-color: blue;
}
 