body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#layout {
  display: grid;
  grid-template-columns: 12vw auto auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header"
    "aside content content"
    "footer footer footer ";
}

header {
  grid-area: header;
  height: 100px;
  background-color: blue;
}
aside {
  grid-area: aside;
  height: calc(100vh - 200px);
  background-color: hotpink;
}
#content {
  grid-area: content;
  background-color: greenyellow;
  min-height: 500px;
  width: 88vw; /*all spacing left after sidebar*/
}
#footer {
  grid-area: footer;
  height: 100px;
  background-color: red;
}

