body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

:root {
  --header-height: max(10vh, 100px);
  --footer-heigth: 150px;
  --sidebar-width: max(12vw, 150px);
}

#layout {
  display: grid;
  grid-template-columns: var(--sidebar-width) auto auto;
  grid-auto-rows: auto;
  grid-template-areas:
    "header header header"
    "aside content content"
    "footer footer footer ";
}

header {
  grid-area: header;
  height: var(--header-height);
  background-color: blue;
}
aside {
  grid-area: aside;
  height: calc(100vh - calc(var(--header-height) + var(--footer-heigth)));
  background-color: hotpink;
}
#content {
  grid-area: content;
  background-color: greenyellow;
  width: calc(100vw - var(--sidebar-width)); /*all spacing left after sidebar*/
  height: calc(100vh - calc(var(--header-height) + var(--footer-heigth)));
  padding: 1em;
  padding-right: 2em;
  overflow-y: auto;
}
#overflowing_content {
  display: flex;
  align-items: center;
  height: 1200px;
  background-color: #fff;
}
#list {
  width: 80%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
}
#list li {
  background-color: yellow;
  height: 50px;
}
#footer {
  grid-area: footer;
  height: var(--footer-heigth);
  background-color: red;
}
* {
  box-sizing: border-box;
}
